.DS_Store
*.swp
*.swo

.env
.env.*
*.env
!.env.example
!.env.sample

*[Tt]oken*
*[Ss]ecret*
*[Pp]assword*
*[Aa][Pp][Ii]_[Kk]ey*
*[Pp]rivate*
*[Cc]redential*

.ssh/
id_rsa
id_rsa.*
id_ed25519
id_ed25519.*
*.pem
*.p12
*.pfx
*.age
*.gpg
*.asc
*.kdbx
.netrc
__pycache__/
